<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <mat-card class="card">
    <div fxLayout="column" fxLayoutAlign="space-around end">
      <div fxLayout="row" fxLayoutAlign="end center">
        <span>Hello, {{ (authFacade.loginDto$ | async)?.username! }}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="prof-menu">
          <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </div>
    <h2>{{ title }}</h2>
    <div class="route-content">
      <router-outlet></router-outlet>
    </div>
  </mat-card>
</div>
