.container {
  height: 100%;
  background-color: rgb(224, 224, 224);
  .card {
    padding: 30px;
    height: 80%;
    width: 50%;

    .prof-menu {
      margin-left: 10px;
    }

    .form-field {
      width: 90%;
    }
  }
}
